.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.basic-info {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: start; 
  margin-top: 20px;
}
.Heading{
  text-align:center;
}
.student-details, .portfolio-card {
  flex: 1; 
  margin: 10px;
  padding: 20px;

}
.work {
  max-width: 1200px; 
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 20px; 
  padding: 0px;
}

.card-container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}
.contact-page{
  padding: 50px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column; 
  }
  .work{
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
}
}
